html, body{
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.canvaMap{
    background-color: whitesmoke;
    min-width: 1000px;
    min-height: 600px;
}

#tooltip{
    visibility: hidden;
    width: auto;
    height: auto;
}
