:root {
  --color-backgroud: #243b52;
  --color-callout: #012f5e;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width:80%; 
  margin: 0 auto; 
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
    
}
h1{
  font-size: 2em;
  font-weight: 700;
  color: #1b0760;
}
a{
  color: #2584ff;
}
a:hover{
  color: #3a8ffd;
}

.states {
    stroke: #fff;
    stroke-width:1px;
}
.states:hover{
  opacity: .6;
}

.legendLinear text {
    font-size: 12px;
}


.states:hover{
  fill: rgb(30, 180, 230);
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43,43,43, 0.8);
  color: #fff;
  border-radius: 2px;
}

.canvaMap{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}


.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}