:root {
  --color-backgroud: #1a191a;
  --color-callout: #012f5e;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #9a98a3;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #1b0760;
}
a{
  color: #2584ff;
  text-decoration: none;
}
a:hover{
  color: #3a8ffd;
}

.header,.footer, .legend {
  text-align: center;

}


.states {
    stroke: #fff;
    stroke-width:1px;
}


.states:hover{
  opacity: .6;
  fill: rgb(30, 180, 230);
}

.d3-tip {
  padding: 12px;
  background: #fff;
  color: rgb(69, 69, 69);
  border-radius: 5px;
}

.d3-tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.canvaMap{
  display: flex;
  justify-content: center;
  justify-items: center;
}


/* Navigation Bar */
.nav {
  background: var(--color-backgroud);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}

